doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title
      if title
        | #{title} – François Vaux
      else
        | François Vaux
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="author" content=(meta && meta.author) ? meta.author : "François Vaux")
    if description
      meta(name="description" content=description)
    if twitter
      meta(name="twitter:card" content="summary")
      meta(name="twitter:site" content="@madx")
      meta(name="twitter:title" content=title)
      meta(name="twitter:description" content=description)
    link(rel="stylesheet" href="/css/stylesheet.css")
  body
    .content-wrapper
      nav
        li
          a(href="/") home
        li
          a(href="/articles/") articles
        li
          a(href="/hire-me/") hire me
      header.hero
        h1 François Vaux
        h2 software developer <span>╳</span> boardgames lover

      section
        != formattedContent
        if disqus
          #disqus_thread
          script.
            var disqus_config = function () {
              this.page.url = "#{url}";
              this.page.identifier = "#{url}";
            };
            (function() {
                var d = document, s = d.createElement('script');
                
                s.src = '//madx.disqus.com/embed.js';
                
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();

      footer.
        @ #[a(href="//madx.me/") François Vaux] 2016
        /
        #[a(href="https://twitter.com/madx") Twitter]
        /
        #[a(href="https://github.com/madx") GitHub]

      script
        :cdata-js
          (function() {
            if(window.location.hostname !== "madx.me") return

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-3749748-4', 'auto');
            ga('send', 'pageview');
          })()
